/* 기본 스타일 */
body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #e5e5e5;
    padding: 15px;
    text-align: center;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0px
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px
}

/* 네비게이션 및 드롭다운 스타일 */
nav {
    text-align: center;
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    height: 35px;
    width: 440px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fffefe;
    min-width: 440px;
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    align-items: center;
    justify-content: center;
    color: #000000;
    text-decoration: none;
    display: flex;
    height: 30px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}